@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
:root {
	/* DARK */
	--background_dark: #0a192f;
	--logo_dark: var(--highlight_dark);
	--paragraph_dark: #8892b0;
	--heading_dark: #ccd6f6;
	--highlight_dark: #64ffda;
	--hover_tint_dark: rgba(100,255,218,0.1);
	--description_dark :rgba(17, 34, 64, 0.8);

	/* LIGHT */
	--background_light: #fff;
	--paragraph_light: #000;
	--heading_light: #0a192f;
	--highlight_light: #000;
	--hover_tint_light: rgba(100, 118, 255, 0.1);
	--logo_light: var(--paragraph_light);
	--description_light :rgba(64, 64, 64, 0.8);
}

.dark {
	--bg: var(--background_dark);
	--logo: var(--logo_dark);
	--paragraph: var(--paragraph_dark);
	--heading: var(--heading_dark);
	--highlight: var(--highlight_dark);
	--hover-tint: var(--hover_tint_dark);
	--description: var(--description_dark);
}

.light {
	--bg: var(--background_light);
	--logo: var(--logo_light);
	--paragraph: var(--paragraph_light);
	--heading: var(--heading_light);
	--highlight: var(--highlight_light);
	--hover-tint: var(--hover_tint_light);
	--description: var(--description_light);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 0 3em;
	background-color: var(--bg);
	color: var(--paragraph);
	font-family: 'Poppins', sans-serif;
	transition: background 500ms ease-in-out, color 1000ms ease-in-out;
	overflow-x: hidden;
}

button {
	border: transparent;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1.flex {
	text-decoration: underline;
	font-size: 2.2em;
}

a.emoji{
	text-decoration: none;
	background-color: var(--description);
	border-radius: 50%;
	padding: 0.5em;
	margin: 1em;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100%;
}

/* NAVIGATION */
header {
	font-family: 'Fira Mono', monospace;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em 0;
	height: 5em;
}

#nav-title {
	letter-spacing: 0.2em;
	font-size: 1.37em;
	font-weight: 780;
	margin-right: auto;
	color: var(--logo);
}

.nav-links {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow-x: hidden;
}

.nav-links li {
	list-style: none;
	padding: 0.9em;
}

.nav-links a {
	color: currentColor;
	text-decoration: none;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	border-radius: 2em;
	height: 3px;
	background-color: var(--logo);
	margin: 5px;
	transform: rotate(45deg);
	transition: all 0.4s ease;
}

.burger .line1 {
	width: 30px;
}

.burger .line2 {
	width: 20px;
}

.burger .line3 {
	width: 10px;
}

.nav-links li:hover {
	background: var(--hover-tint);
	border: 2px solid var(--highlight);
	border-radius: 2em;
	color: var(--highlight);
}

#icon {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

/* LANDING SECTION */
.container {
	max-width: 65em;
	margin: 0 auto;
	padding: 2em 1em;
}

.flex-row {
	flex-flow: row;
}

.hero {
	margin: 4em 0;
	align-items: center;
}

.hero h1 {
	font-size: 4em;
	font-weight: 780;
}

.hero p {
	font-size: 1.3em;
	margin: 0 0 3em 0;
}

.hero p::before {
	content: "";
	display: block;
	width: 150px;
	border: 1px solid var(--highlight);
	border-radius: 2em;
	margin: 1em 0;
}

.btn {
	background-color: var(--hover-tint);
	padding: 0.9em 2.5em;
	border-radius: 2em;
	color: var(--highlight);
	text-decoration: none;
	font-size: 1.37em;
	font-weight: 680;
}

.hero a:hover {
	border: 2px solid var(--highlight);
}

figure {
	text-align: center;
}

figure img {
	justify-content: space-around;
	width: 300px;
}

/* ABOUT ME */
.content {
	padding: 2em;
	font-size: 1.2em;
}

/* OVERLAPPING PROJECT LAYOUT */
.section-heading {
	font-size: 2.4em;
	font-weight: 780;
	text-decoration: underline;
}

.projects,
.about {
	max-width: 60em;
	margin: 0 auto;
}

.project-display {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-content: center;
	margin: 5em 0;
}

.project-image {
	grid-column: 1 / 5;
}

.project-image,
.project-description {
	grid-row: 1 / 2;
}

.project-display a {
	color: inherit;
}

.projects img {
	width: 100%;
	height: auto;
	border-radius: 1em;
}

.project-description {
	background-color: var(--description);
	min-height: 15em;
	color: white;
	font-size: 0.8em;
	border-radius: 1em;
	padding: 0.1em;
	grid-column: 2 / -1;
}

.project-description a {
	text-decoration: none;
}

.project-description a:hover {
	text-decoration: underline;
	color: var(--highlight);
}

/* CONTACT */
.contact-form,
.contact-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-info h2 {
	margin-left: 1em;
}

.input-group {
	width: 100%;
	margin:2em 0;
}

.input-control {
	height: 4em;
	width: 100%;
	border-radius: 2em;
	border: none;
	font-family: inherit;
	font-weight: 400;
	padding: 0 1em;
}

.input-group textarea  {
	height: 10em;
	resize: none;
	padding: 1em;
}

.social-links {
	display: flex;
}

.social-links a {
	margin: 2em;
}

.social-links a:hover {
	border: none;
}

.fa  {
	color: var(--highlight);
	padding: 0.5em 0.5em 0 0;
}

.fa:hover  {
	cursor: pointer;
}

/* Custom Scrollbar */
::-webkit-scrollbar  {
	width: 0.5em;
}

::-webkit-scrollbar-track  {
	background-color: transparent;
}

::-webkit-scrollbar-thumb  {
	background-color: var(--highlight);
	border-radius: 1em;
}

@media screen and (max-width: 768px)  {
	body  {
		padding: 0 1em;
	}

	.nav-links  {
		position: absolute;
		right: 0;
		height: 100vh;
		top: 8vh;
		background-color: var(--bg);
		flex-direction: column;
		align-items: center;
		width: 70%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		overflow: hidden;
	}

	.nav-links li  {
		opacity: 0;
	}

	.burger  {
		display: block;
	}

	.flex {
		flex-flow: column;
	}

	.hero {
		text-align: center;
	}

	.hero h1 {
		font-size: 2.5em;
	}

	.hero p {
		font-size: 1.2em;
		max-width: 580px;
		line-height: 1.8em;
		margin: 3em auto;
	}

	.hero p::before {
		margin: 1em auto;
	}

	.project-image {
		grid-area: 1 / -1 / 1 / 1;
	}

	.project-display {
		grid-template-columns: none;
		align-items: inherit;
	}

	.contact-info h2 {
		margin-left: 0;
	}
}

@keyframes navLinkFade  {
	from  {
		opacity: 0;
		transform: translateX(50px);
	}
	to  {
		opacity: 1;
		transform: translateX(0px);
	}
}

.nav-active  {
	transform: translateX(0%);
}

.blur {
	filter: blur(4px);
}

.toggle .line1  {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2  {
	opacity: 0;
}

.toggle .line3  {
	transform: rotate(+45deg) translate(-5px, -6px);
	width: 30px;
}
